
.DS_Store
Module-1/.DS_Store
Module-1/Working with constraints/.DS_Store
.DS_Store
Module-2/Ex-TedTalks/Ex-TedTalks.xcodeproj/project.xcworkspace/xcuserdata/daniela.beltran.xcuserdatad/UserInterfaceState.xcuserstate
Module-2/Ex-TedTalks/Pods/youtube-ios-player-helper/LICENSE
Module-2/Ex-TedTalks/Pods/youtube-ios-player-helper/Classes/YTPlayerView.m
Module-2/Ex-TedTalks/Pods/youtube-ios-player-helper/Classes/YTPlayerView.h
Module-2/Ex-TedTalks/Pods/Target Support Files/youtube-ios-player-helper/youtube-ios-player-helper.release.xcconfig
Module-2/Ex-TedTalks/Pods/Target Support Files/youtube-ios-player-helper/youtube-ios-player-helper.modulemap
Module-2/Ex-TedTalks/Pods/Target Support Files/youtube-ios-player-helper/youtube-ios-player-helper.debug.xcconfig
Module-2/Ex-TedTalks/Pods/Target Support Files/youtube-ios-player-helper/youtube-ios-player-helper-umbrella.h
Module-2/Ex-TedTalks/Pods/Target Support Files/youtube-ios-player-helper/youtube-ios-player-helper-prefix.pch
Module-2/Ex-TedTalks/Pods/Target Support Files/youtube-ios-player-helper/youtube-ios-player-helper-Info.plist
Module-2/Ex-TedTalks/Pods/Target Support Files/youtube-ios-player-helper/youtube-ios-player-helper-dummy.m
Module-2/Ex-TedTalks/Pods/Target Support Files/Pods-Ex-TedTalks/Pods-Ex-TedTalks.release.xcconfig
Module-2/Ex-TedTalks/Pods/Target Support Files/Pods-Ex-TedTalks/Pods-Ex-TedTalks.modulemap
Module-2/Ex-TedTalks/Pods/Target Support Files/Pods-Ex-TedTalks/Pods-Ex-TedTalks.debug.xcconfig
Module-2/Ex-TedTalks/Pods/Target Support Files/Pods-Ex-TedTalks/Pods-Ex-TedTalks-umbrella.h
Module-2/Ex-TedTalks/Pods/Target Support Files/Pods-Ex-TedTalks/Pods-Ex-TedTalks-Info.plist
Module-2/Ex-TedTalks/Pods/Target Support Files/Pods-Ex-TedTalks/Pods-Ex-TedTalks-frameworks.sh
Module-2/Ex-TedTalks/Pods/Target Support Files/Pods-Ex-TedTalks/Pods-Ex-TedTalks-frameworks-Release-output-files.xcfilelist
Module-2/Ex-TedTalks/Pods/Target Support Files/Pods-Ex-TedTalks/Pods-Ex-TedTalks-frameworks-Release-input-files.xcfilelist
Module-2/Ex-TedTalks/Pods/Target Support Files/Pods-Ex-TedTalks/Pods-Ex-TedTalks-frameworks-Debug-output-files.xcfilelist
Module-2/Ex-TedTalks/Pods/Target Support Files/Pods-Ex-TedTalks/Pods-Ex-TedTalks-frameworks-Debug-input-files.xcfilelist
Module-2/Ex-TedTalks/Pods/Target Support Files/Pods-Ex-TedTalks/Pods-Ex-TedTalks-dummy.m
Module-2/Ex-TedTalks/Pods/Target Support Files/Pods-Ex-TedTalks/Pods-Ex-TedTalks-acknowledgements.plist
Module-2/Ex-TedTalks/Pods/Target Support Files/Pods-Ex-TedTalks/Pods-Ex-TedTalks-acknowledgements.markdown
Module-2/Ex-TedTalks/Pods/Pods.xcodeproj/xcuserdata/daniela.beltran.xcuserdatad/xcschemes/youtube-ios-player-helper.xcscheme
Module-2/Ex-TedTalks/Pods/Pods.xcodeproj/xcuserdata/daniela.beltran.xcuserdatad/xcschemes/xcschememanagement.plist
Module-2/Ex-TedTalks/Pods/Pods.xcodeproj/xcuserdata/daniela.beltran.xcuserdatad/xcschemes/Pods-Ex-TedTalks.xcscheme
Module-2/Ex-TedTalks/Pods/Pods.xcodeproj/project.pbxproj
Module-2/Ex-TedTalks/Pods/Manifest.lock
Module-2/Ex-TedTalks/Podfile.lock
Module-2/Ex-TedTalks/Podfile
Module-2/Ex-TedTalks/Ex-TedTalks.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Module-2/Ex-TedTalks/Ex-TedTalks.xcworkspace/xcuserdata/daniela.beltran.xcuserdatad/UserInterfaceState.xcuserstate
Module-2/Ex-TedTalks/Ex-TedTalks.xcworkspace/xcuserdata/daniela.beltran.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Module-2/Ex-TedTalks/Ex-TedTalks.xcworkspace/contents.xcworkspacedata
Module-2/Ex-TedTalks/Ex-TedTalks.xcodeproj/xcuserdata/daniela.beltran.xcuserdatad/xcschemes/xcschememanagement.plist
Module-2/Ex-TedTalks/Ex-TedTalks.xcodeproj/xcuserdata/daniela.beltran.xcuserdatad/xcschemes/xcschememanagement.plist
Module-2/Ex-TedTalks/Ex-TedTalks.xcodeproj/project.xcworkspace/xcuserdata/daniela.beltran.xcuserdatad/UserInterfaceState.xcuserstate
Module-1/Working with constraints/.DS_Store
